canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  p {
    margin: 0 0;
    position: absolute;
    font: 16px Verdana;
    color: #eee;
    height: 25px;
    top: calc(100vh - 30px);
    text-shadow: 0 0 2px white;
  }
  
  p a {
    text-decoration: none;
    color: #aaa;
  }
  
  span {
    font-size: 11px;
  }
  
  p > a:first-of-type {
    font-size: 20px;
  }
  
  body {
    overflow: hidden;
  }
  
  /* Go to Ticket Button Styling */
  a {
    text-decoration: none;
    position: absolute;
    top: 500px; /* Positioning the button near the top */
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: #2767d7; /* Clifford color */
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  a:hover {
    background-color: rgb(250, 91, 17);
  }
  